<div class="col-sm-6">
  <h1>事業所作成画面</h1>
</div>

<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Quick Example</h3>
  </div>

  <!-- /.card-header -->
  <!-- form start -->
  <%= form_with model: @business, url: users_business_path, method: :post do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
