<!-- (10)高年齢者作業申告書 -->
<div class="container">
  <div class="title text-center"><h2>高齢者就労報告書</h2></div>
  <div class="submission_date text-right">
    <p><span class="ml-3">「提出日（西暦）」10-001</span></p><!--「提出日(西暦)」10-001 -->
  </div>
  <div class="office_name">
    <p>　事業所の名称<span class="ml-3">「事業所名(現場名)」10-002　</span></p><!--「事業所名(現場名)」10-002 -->
  </div>
  <div class="chief_name">
    <p>　所　長　名<span class="ml-3">元請会社の「現場代理人名」10-003　殿　</span></p><!-- 元請会社の「現場代理人名」10-003 -->
  </div>
  <div class="company_name">
    <p>一次会社名 <span class="ml-3">「一次会社名」10-004</span></p><!--「一次会社名」10-004 -->
  </div>
  <div class="subcontractor">
    <p>会社名( 11-005 )次<span class="ml-3">「会社名」10-006</span></p><!-- 「自社の施工体系(◯)次会社」11-005、「会社名」10-006 -->
  </div>
  <div class="representative">
    <p>代表者名<span class="ml-3">「代表者名」10-007</span></p><!--「代表者名」10-007 -->
  </div>
  <div class="description">
    <p>
      　貴作業所の工事を施工するにあたり、下記の者は高齢者（６５歳以上）ですが、弊社の<br />
      責任において就労させますのでご報告致します。<br />
      　原則として危険有害業務には就かせませんが、やむをえず就労させる場合は、職長の<br />
      直接指導により、労働基準法、労働安全衛生法及び貴社の規定を遵守して作業させます。
    </p>
  </div>

  <div class="described_detail">
    <p class="text-center">記</p>
    <table class="table table-bordered">
      <thead>
        <tr class="table-title">
          <th style="width: 20%">氏名</th>
          <th style="width: 20%">生年月日</th>
          <th style="width: 10%">年齢(歳)</th>
          <th style="width: 20%">職種</th>
          <th style="width: 30%">作業内容</th>
        </tr>
      </thead>
      <tbody class="t-content">
        <tr>
          <td>65歳以上の「入場する作業員」10-008</td><!-- 65歳以上の「入場する作業員」10-008 -->
          <td>「生年月日」10-009</td><!--「生年月日」10-009 -->
          <td>「年齢」10-010</td><!--「年齢」10-010 -->
          <td>「職種」10-011</td><!--「職種」10-011 -->
          <td>「高年齢就労者・作業内容」10-012</td><!--「高年齢就労者・作業内容」10-012 -->
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
