<% provide(:title, "書類編集") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= Document.human_attribute_name :created_on %></th>
          <td><%= @document.created_on %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
