<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="image">
    <%#= image_tag "user2-160x160.jpg", class:"img-circle elevation-2" %>
  </div>
  <div class="info">
    <%= link_to 'ここに書類一覧', '#', class:"d-block" %>
  </div>
</div>
