<% provide(:title, "その他のユーザー登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <%= form_with model: @general_user, url: users_business_path, method: :post, local: true do |f| %>
    <div class="card-body">
      <%= render partial: "form", locals: { f: f, general_user: @general_user } %>
    </div>
    <div class="card-footer">
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
    </div>
  <% end %>
</div>
