<!-- (21)全建統一様式第7号(新規入場時等教育実施報告書) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<body style="font-family: Noto Sans JP, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;">
    <div class="twelvefirst-document-pdf">
        <div class="ritz grid-container" dir="ltr">
          <table class="waffle no-grid td-no-border" cellspacing="0" cellpadding="0">
            <tbody>
              <tr style="height: 29px">
                <td class="doc_21_m0" dir="ltr" colspan="12">（全建統一様式第７号）</td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m1"></td>
                <td class="doc_21_m33" dir="ltr" colspan="3">元 請</td>
                <td class="doc_21_m32" dir="ltr" colspan="9" rowspan="2"><span
                    style="text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;color:#1155cc;"><a
                      target="_blank" href="#rangeid=1241118775">「元請会社の確認欄」21-001</a></span>]</td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m1"></td>
                <td class="doc_21_m3" dir="ltr" colspan="3">確認欄</td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m4" dir="ltr" colspan="12"><a target="_blank" href="#rangeid=190326484">「提出日（西暦）」21-002</a>
                </td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m5" dir="ltr" colspan="41">新規入場時等教育実施報告書</td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m6" dir="ltr" colspan="5" rowspan="2">作業所名</td>
                <td class="doc_21_m7" dir="ltr" colspan="15" rowspan="2"><a target="_blank"
                    href="#rangeid=1809808903">「事業所名（現場名）」21-003</a></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m6"></td>
                <td class="doc_21_m6"></td>
                <td class="doc_21_m6"></td>
                <td class="doc_21_m6"></td>
                <td class="doc_21_m6"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m6" dir="ltr" colspan="5" rowspan="2">作業所長</td>
                <td class="doc_21_m8" dir="ltr" colspan="13" rowspan="2"><a target="_blank"
                    href="#rangeid=970017223">「各会社の現場代理人名」21-004</a></td>
                <td class="doc_21_m9" dir="ltr" colspan="2" rowspan="2">殿</td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m6" dir="ltr" colspan="5" rowspan="2">会社名</td>
                <td class="doc_21_m10" dir="ltr" colspan="14" rowspan="2"><a target="_blank"
                    href="#rangeid=1158715211">「会社名」21-005</a>
                </td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0" dir="ltr"></td>
                <td class="doc_21_m0" dir="ltr"></td>
                <td class="doc_21_m0" dir="ltr"></td>
                <td class="doc_21_m0" dir="ltr"></td>
                <td class="doc_21_m0" dir="ltr"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m11"></td>
                <td class="doc_21_m12" dir="ltr"></td>
                <td class="doc_21_m0"></td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0" dir="ltr" colspan="5">現場代理人</td>
                <td class="doc_21_m8" dir="ltr" colspan="12" rowspan="2"><a target="_blank"
                    href="#rangeid=970017223">「各会社の現場代理人名」21-006</a></td>
                <td class="doc_21_m13" dir="ltr" colspan="2" rowspan="2"><a target="_blank"
                    href="#rangeid=88565281">㊞<br>21-007</a>
                </td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0" dir="ltr" colspan="5">(現場責任者)</td>
              </tr>
              <tr style="height: 29px">
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14"></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7">項　　　目</td>
                <td class="doc_21_m3" dir="ltr" colspan="34">摘 要</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7">教育の種類</td>
                <td class="doc_21_m15"></td>
                <td class="doc_21_m15" dir="ltr" colspan="5">新規入場時</td>
                <td class="doc_21_m15"></td>
                <td class="doc_21_m15" dir="ltr">・</td>
                <td class="doc_21_m15"></td>
                <td class="doc_21_m15"></td>
                <td class="doc_21_m15" dir="ltr" colspan="4">雇入時</td>
                <td class="doc_21_m15"></td>
                <td class="doc_21_m15" dir="ltr">・</td>
                <td class="doc_21_m15"></td>
                <td class="doc_21_m15" dir="ltr" colspan="5">作業変更時</td>
                <td class="doc_21_m16" dir="ltr" colspan="12"><a target="_blank"
                    href="#rangeid=229790909">⇐「（新規入場時・雇入時・作業変更時）三択で〇を付ける」21-008</a></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7">実 施 日 時</td>
                <td class="doc_21_m7" dir="ltr" colspan="13"><a target="_blank" href="#rangeid=1778842844">「実施日付」21-009</a>
                </td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m17" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=979063930">「実施時間（始時間）」21-010</a>
                </td>
                <td class="doc_21_m18" dir="ltr" colspan="2">～</td>
                <td class="doc_21_m17" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=256131863">「実施時間（終時間）」21-011</a>
                </td>
                <td class="doc_21_m14"></td>
                <td class="doc_21_m14" dir="ltr">（</td>
                <td class="doc_21_m17" dir="ltr" colspan="4">「実施時間（時間）」21-012</td>
                <td class="doc_21_m14" dir="ltr" colspan="3">時間）</td>
                <td class="doc_21_m19"></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7">実 施 場 所</td>
                <td class="doc_21_m20" dir="ltr" colspan="34"><a target="_blank" href="#rangeid=1941892092">「実施場所」21-013</a>
                </td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7">教 育 方 法</td>
                <td class="doc_21_m20" dir="ltr" colspan="34"><a target="_blank" href="#rangeid=1039272956">「教育方法」21-014</a>
                </td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7" rowspan="5">教 育 内 容</td>
                <td class="doc_21_m21" dir="ltr" colspan="34"><a target="_blank" href="#rangeid=696626027">「教育内容」21-015</a>
                </td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m22" colspan="34"></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m22" colspan="34"></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m22" colspan="34"></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m23" colspan="34"></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7">講　　　師</td>
                <td class="doc_21_m20" dir="ltr" colspan="17"><a target="_blank" href="#rangeid=416383118">「会社名」21-016</a></td>
                <td class="doc_21_m20" dir="ltr" colspan="17"><a target="_blank" href="#rangeid=6040054">「講師名」21-017</a></td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m30" dir="ltr" colspan="7" rowspan="3">受講者氏名</td>
                <td class="doc_21_m25" dir="ltr" colspan="17"><a target="_blank" href="#rangeid=1353851405">「受講者名」21-018</a>
                </td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m31" dir="ltr" colspan="7">（受講者に氏名を自筆させること）</td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" colspan="7" rowspan="3"></td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
                <td class="doc_21_m25" dir="ltr" colspan="17">〃</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m27" dir="ltr" colspan="17">〃</td>
                <td class="doc_21_m27" dir="ltr" colspan="17">〃</td>
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m29" dir="ltr" colspan="7" rowspan="2">資　　　料</td>
                <td class="doc_21_m20" dir="ltr" colspan="34" rowspan="2"><a target="_blank"
                    href="#rangeid=105862983">「資料」21-019</a>
                </td>
              </tr>
              <tr style="height: 44px">
              </tr>
              <tr style="height: 44px">
                <td class="doc_21_m28" dir="ltr" colspan="26">(注) 新規入場者調査票が作成される場合は本様式の提出は不要</td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
                <td class="doc_21_m0"></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</body>

<style>
  .twelvefirst-document-pdf {
    margin: 0em;
    display: block;
    width: 62em;
  }

  .td-no-border td {
    border: 1px SOLID #fff;
  }

  .ritz .waffle a {
    color: inherit;
  }

  .ritz .waffle .doc_21_m10 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m12 {
    background-color: #ffffff;
    text-align: center;
    color: #808080;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m21 {
    border-bottom: 1px DASHED #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m7 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m19 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m17 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 9pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m5 {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m9 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m16 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 11pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m8 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m20 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m15 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m22 {
    border-bottom: 1px DASHED #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m11 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m18 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m25 {
    border-bottom: 1px DASHED #000000;
    border-right: 1px DASHED #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m14 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m29 {
    border-left: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Arial";
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m30 {
    border-left: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Arial";
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m31 {
    border-right: 1px SOLID #000000;
    border-left: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m32 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    border-top: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m33 {
    border-top: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m24 {
    border-bottom: 1px DASHED #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m4 {
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m6 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m27 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px DASHED #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #1155cc;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m26 {
    border-right: 1px SOLID #000000;
    border-left: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 7pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m13 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m0 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m28 {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m1 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .doc_21_m23 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
</style>
