<!-- (11)年少者就労報告書 -->
<div class="document-outer">
	<div id="eleventh-document" class="document-inner">
		<div class="eleventh-text-container">	
			<div class="ritz grid-container" dir="ltr">
				<table class="waffle no-grid td-no-border" cellspacing="0" cellpadding="0">
					<tbody>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t1" dir="ltr" colspan="9" rowspan="2">年少者就労報告書</td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t0"></td><td class="t0"></td>
							<td class="t0"></td><td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t1" dir="ltr"></td>
							<td class="t3" dir="ltr" colspan="5" rowspan="2">
								<a target="_blank" href="#rangeid=1493853849">「提出日（西暦）」11-001</a>
							</td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t2"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t4" dir="ltr" colspan="2" rowspan="2">事業所の名称</td>
							<td class="t5" dir="ltr" colspan="6" rowspan="2">
								<a target="_blank" href="#rangeid=778799275">「事業所名（現場名）」11-002</a>
							</td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t6" dir="ltr" colspan="2" rowspan="2">所　長　名</td>
							<td class="t7" dir="ltr" colspan="5" rowspan="2">
								<a target="_blank" href="#rangeid=2070896189">元請会社の「現場代理人名」11-003</a>
							</td>
							<td class="t6" dir="ltr" rowspan="2">殿</td>
							<td class="t0"></td><td class="t0"></td>
							<td class="t0"></td><td class="t0"></td>
							<td class="t0"></td><td class="t0"></td>
							<td class="t0"></td><td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t8" dir="ltr" colspan="2" rowspan="2">一次会社名</td>
							<td class="t9" dir="ltr" colspan="6" rowspan="2">
								<a target="_blank" href="#rangeid=1545008038">「一次会社名」11-004</a>
							</td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="h10" dir="ltr" colspan="3" rowspan="2">
								<span style="text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;color:#1155cc;">
									<a target="_blank" href="#rangeid=1813581827">「自社の施工体系（〇次会社）」11-005</a>
								</span>
								<span style="color:#000000;">　↓</span>
							</td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td></td>
							<td class="h11" dir="ltr"></td>
							<td class="t9" dir="ltr" colspan="6" rowspan="2">
								<a target="_blank" href="#rangeid=425057043">「会社名」11-006</a>
							</td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="h12" dir="ltr" colspan="2">会社名(　  )次</td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t8"></td>
							<td class="t8"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t8" dir="ltr" colspan="2" rowspan="2">代表者名</td>
							<td class="t9" dir="ltr" colspan="6" rowspan="2">
								<a target="_blank" href="#rangeid=1072193639">「代表者名」11-007</a>
							</td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t2"></td>
							<td class="h13" dir="ltr" colspan="13">　貴作業所の工事を施工するにあたり、下記の者は満18歳未満ですが、弊社の責任に</td>
							<td class="h13" dir="ltr"></td>
							<td class="h13" dir="ltr"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t2"></td>
							<td class="h14" dir="ltr" colspan="13">おいて就労させますのでご報告致します。</td>
							<td class="h14" dir="ltr"></td>
							<td class="h14" dir="ltr"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t2"></td>
							<td class="h14" dir="ltr" colspan="13">　原則として危険有害業務には就かせませんが、やむをえず就労させる場合は、職長の</td>
							<td class="h14" dir="ltr"></td>
							<td class="h14" dir="ltr"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t2"></td>
							<td class="h14" dir="ltr" colspan="13">直接指導により、労働基準法、労働安全衛生法及び貴社の規定を遵守して作業させます。</td>
							<td class="h14" dir="ltr"></td>
							<td class="h14" dir="ltr"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="h15" dir="ltr">記</td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
							<td class="t0"></td>
						</tr>
						<tr style="height: 19px">
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
							<td class="h16"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h17" dir="ltr" colspan="3">氏　名</td>
							<td class="h17" dir="ltr" colspan="4">生年月日</td>
							<td class="h17" dir="ltr" colspan="2">年齢(歳)</td>
							<td class="h17" dir="ltr" colspan="3">職　種</td>
							<td class="h17" dir="ltr" colspan="5">作業内容</td>
						</tr>
						<tr style="height: 39px">
							<td class="h18" dir="ltr" colspan="3">
								<a target="_blank" href="#rangeid=1088223859">18歳未満の「入場する作業員」11-008</a>
							</td>
							<td class="h19" dir="ltr" colspan="4">
								<a target="_blank" href="#rangeid=679523794">「生年月日 」11-009</a>
							</td>
							<td class="h20" dir="ltr" colspan="2">
								<a target="_blank" href="#rangeid=856574516">「年齢」11-010</a>
							</td>
							<td class="h19" dir="ltr" colspan="3">
								<a target="_blank" href="#rangeid=1601036786">「職種」11-011</a>
							</td>
							<td class="h20" dir="ltr" colspan="5">
								<a target="_blank" href="#rangeid=907994316">「年少者就労・作業員内容」11-012</a>
							</td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
						<tr style="height: 39px">
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="4"></td>
							<td class="h21" colspan="2"></td>
							<td class="h21" colspan="3"></td>
							<td class="h21" colspan="5"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
