<% provide(:title, "作業者編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <%= form_with model: @worker, url: users_worker_path, method: :post, local: true do |f| %>
    <div class="card-body">
      <%= render partial: "form", locals: { f: f } %>
      <%# render partial: "form", locals: { f: f, worker: @worker } %>
    </div>
    <div class="card-footer">
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
    </div>
  <% end %>
</div>
