// 全体
#s_15 {
  overflow: hidden;
  position: relative;
  background-color: white;
  // width: 909px;
  // height: 1286px;
  padding: 10px;
}

.s_15_text-container {
  white-space: normal;
}

// 背景セル
.s_15_00{
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_01{
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 15px;
}

// 様式・元請確認欄
.s_15_1{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_2{
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

// 見出し
.s_15_3{
  background-color:#ffffff;
  text-align:center;
  font-size:22pt;
  font-weight: bold;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

// 事業所名称〜現場代理人
.s_15_4{
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:bottom;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_5{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_6{
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_7{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:9pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_8{
  background-color:#ffffff;
  text-align:center;
  font-size:9pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

// このたび〜遵守します。
.s_15_10{
  background-color:#ffffff;
  text-align:left;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 16px;
  padding: 0px;
}

// 表　使用材料
.s_15_11{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 234px;
}

.s_15_12{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_13{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_14{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:1pt;
  vertical-align:middle;
  direction:ltr;
  letter-spacing: -1.5px;
  width: 25.25px;
  height: 39px;
  padding: 0px;
}

// 使用場所
.s_15_20{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_21{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

// 保管場所
.s_15_30{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_31{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

// 使用期間
.s_15_40{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_41{
  border-top:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_42{
  border-top:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}
.s_15_43{
  border-top:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_44{
  border-top:1px SOLID #000000;
  border-right: SOLID #000000;
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

// 作業主任者
.s_15_50{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_51{
  border-top:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_52{
  border-top:1px SOLID #000000;
  border-right:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_53{
  border-bottom:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_54{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_55{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_56{
  border-bottom:1px SOLID #000000;
  border-right:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

// SDS
.s_15_60{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_61{
  border-top:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_62{
  border-top:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_63{
  border-top:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_64{
  border-top:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

.s_15_65{
  border-top:1px SOLID #000000;
  border-right:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

// 換気等対策
.s_15_70{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 78px;
}

.s_15_71{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 39px;
}

// （注）
.s_15_80{
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 16px;
  padding: 0px;
}

.s_15_81{
  background-color:#ffffff;
  text-align:left;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 16px;
  padding: 0px;
}
