#twelvefirst-document {
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 10px;
}

.twelvefirst-text-container {
  white-space: pre-wrap;
}

.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .m10 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m12 {
  background-color: #ffffff;
  text-align: center;
  color: #808080;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m21 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m7 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m19 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m17 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m5 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 18pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m9 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m16 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m3 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m8 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m20 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m15 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m2 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m22 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m11 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m18 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m25 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px DASHED #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m14 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m29 {
  border-left: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m30 {
  border-left: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "Arial";
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m31 {
  border-right: 1px SOLID #000000;
  border-left: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 7pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m32 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  border-top: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m33 {
  border-top: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m24 {
  border-bottom: 1px DASHED #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m4 {
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m6 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m27 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px DASHED #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #1155cc;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m26 {
  border-right: 1px SOLID #000000;
  border-left: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 7pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m13 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m0 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m28 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m1 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .m23 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
