// 全体
#s_15 {
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 10px;
}

.s_15_text-container {
  white-space: normal;
}

// 背景セル
.s_15_00 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_01 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 14px;
}

// 様式・元請確認欄
.s_15_1 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_2 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

// 見出し
.s_15_3 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:22pt;
  font-weight: bold;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
  padding: 0px;
}

// 事業所名称〜現場代理人
.s_15_4 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:bottom;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_5 {
  border-top:0px SOLID #ffffff;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_6 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:10pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
  padding: 0px;
}

.s_15_7 {
  border-top:0px SOLID #ffffff;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:9pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
  padding: 0px;
}

.s_15_8 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:9pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
  padding: 0px;
}

.s_15_9 {
  border-top:0px SOLID #ffffff;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
  padding: 0px;
}

// このたび〜遵守します。
.s_15_10 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:left;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 16px;
  padding: 0px;
}

// 表　使用材料
.s_15_11 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 222px;
}

.s_15_12 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_13 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_14 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:7pt;
  vertical-align:middle;
  direction:ltr;
  letter-spacing: -1.5px;
  width: 25.25px;
  height: 37px;
  padding: 0px;
}

// 使用場所
.s_15_20 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_21 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

// 保管場所
.s_15_30 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_31 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

// 使用期間
.s_15_40 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_41 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_42 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_43 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_44 {
  border-top:1px SOLID #000000;
  border-right:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

// 作業主任者
.s_15_50 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_51 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:0px SOLID #ffffff;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_52 {
  border-top:1px SOLID #000000;
  border-right:1px SOLID #000000;
  border-bottom:0px SOLID #ffffff;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_53 {
  border-top:0px SOLID #ffffff;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_54 {
  border-top:0px SOLID #ffffff;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_55 {
  border-top:0px SOLID #ffffff;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_56 {
  border-top:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-right:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

// SDS
.s_15_60 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_61 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_62 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_63 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_64 {
  border-top:1px SOLID #000000;
  border-right:0px SOLID #ffffff;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

.s_15_65 {
  border-top:1px SOLID #000000;
  border-right:1px SOLID #000000;
  border-bottom:1px SOLID #000000;
  border-left:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

// 換気等対策
.s_15_70 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 74px;
}

.s_15_71 {
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 37px;
}

// （注）
.s_15_80 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 16px;
  padding: 0px;
}

.s_15_81 {
  border:0px SOLID #ffffff;
  background-color:#ffffff;
  text-align:left;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 16px;
  padding: 0px;
}

@supports (-webkit-touch-callout: none) {
  .s_15_text-container {
    white-space: normal;
  }
}
