#eleventh-document {
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 10px;
}

.eleventh-text-container {
  white-space: pre-wrap;
}

.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .t5 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink :none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h12 {
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h14 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h11 {
  background-color: #ffffff;
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h21 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  border-left: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h18 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  border-left: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t2 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t4 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t7 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t3 {
  background-color: #ccffcc;
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction:  ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h16 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t9 {
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t6 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t8 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h10 {
  background-color: #ffffff;
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h19 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h20 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h17 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  border-left: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t1 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h13 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .h15 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .t0 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
