// #fifteenth-document {
//   overflow: hidden;
//   position: relative;
//   background-color: white;
//   padding: 10px;
// }
// .fifteenth-text-container {
//   white-space: normal;
// }
// .td-no-border td {
//   border: 1px SOLID #fff;
// }

#s_15 {
  overflow: hidden;
  position: relative;
  background-color: white;
  // width: 962px;
  // height: 1536px;
  width: 909px;
  height: 1286px;
  padding: 10px;
}

.s_15_text-container {
  white-space: normal;
}

.s_15_0{
  // border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  // width: 2.7%;
  // height: 20.09375px;
  height: 19.5px;
}

.s_15_1{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_2{
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_3{
  background-color:#ffffff;
  text-align:center;
  font-size:22pt;
  font-weight: bold;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_4{
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:bottom;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_5{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_6{
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

.s_15_7{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:9pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}

s_15_10{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:11pt;
  vertical-align:middle;
  direction:ltr;
  width: 25.25px;
  height: 19.5px;
}