#fifteenth-document {
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 10px;
}
.fifteenth-text-container {
  white-space: normal;
}
.td-no-border td {
  border: 1px SOLID #fff;
}

.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .s_15_5{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_8{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:14pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_10{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  color:#000000;
  font-size:14pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_11{
  background-color:#ffffff;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:12pt;
  vertical-align:middle;
  white-space:normal;
  overflow:hidden;
  word-wrap:break-word;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_12{
  background-color:#ffffff;
  text-align:center;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:24pt;
  font-weight: bold;
  vertical-align:middle;
  white-space:normal;
  overflow:hidden;
  word-wrap:break-word;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_14{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:left;
  color:#000000;
  font-size:14pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_16{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_6{
  background-color:#ffffff;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:14pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_2{
  background-color:#ffffff;
  text-align:center;
  color:#000000;
  font-size:14pt;
  vertical-align:bottom;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_9{
  background-color:#ffffff;
  text-align:center;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_17{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_3{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  color:#000000;
  font-size:11pt;
  vertical-align:bottom;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_20{
  border-bottom:1px SOLID #000000;
  border-right:1px SOLID #000000;
  background-color:#ffffff;
  text-align:left;
  text-decoration:underline;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:14pt;
  vertical-align:middle;
  white-space:normal;
  overflow:hidden;
  word-wrap:break-word;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_4{
  border:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_19{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

// .ritz .waffle .s_15_0{
//   border:1px SOLID #000000;
//   background-color:#ffffff;
//   text-align:center;
//   color:#000000;
//   font-size:11pt;
//   vertical-align:middle;
//   white-space:nowrap;
//   direction:ltr;
//   padding:0px 3px 0px 3px;
// }

.ritz .waffle .s_15_15{
  border-bottom:1px SOLID #000000;
  border-right:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  text-decoration:underline;
  -webkit-text-decoration-skip:none;
  text-decoration-skip-ink:none;
  font-size:10pt;
  vertical-align:middle;
  white-space:normal;
  overflow:hidden;
  word-wrap:break-word;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_1{
  background-color:#ffffff;
  text-align:center;
  color:#000000;
  font-size:14pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_7{
  background-color:#ffffff;
  text-align:center;
  font-weight:bold;
  color:#000000;
  font-size:24pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_13{
  background-color:#ffffff;
  text-align:left;
  color:#000000;
  font-size:14pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_18{
  background-color:#ffffff;
  text-align:left;
  color:#000000;
  font-size:10pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_25{
  border-bottom:1px SOLID #000000;
  border-left:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  color:#000000;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_26{
  border-right:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  color:#000000;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_27{
  border-bottom:1px SOLID #000000;
  background-color:#ffffff;
  text-align:center;
  color:#000000;
  font-size:11pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_22{
  background-color:#ffffff;
  text-align:left;
  color:#000000;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

.ritz .waffle .s_15_28{
  background-color:#ffffff;
  text-align:right;
  color:#000000;
  font-size:12pt;
  vertical-align:middle;
  white-space:nowrap;
  direction:ltr;
  padding:0px 3px 0px 3px;
}

@supports (-webkit-touch-callout: none) {
  .sd_text-container {
    white-space: normal;
  }
}
